<html>
<head>
    <title>Aplikasi CRUD</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="col-sm-5">
            <h2>Tambah Data Barang</h2>
            <form action="{{url_for('tambah') }}" method="post">
                <div class="form-group">
                    <label>Kode Barang</label>
                    
                </div>
            </form>
        </div>
    </div>
</body>
</html>